{% set pages = pages() %}

<header>
    <div class="container max-w-4xl text-center mx-auto px-4 py-8">
        <a href="{{ url_for('posts') }}" class="inline-block text-stone-800">
            <span class="font-serif font-extralight text-4xl md:text-6xl dark:text-stone-200">{{ config('site_title') }}</span>
        </a>
    </div>
</header>

<div class="flex justify-between items-center">
    <div class="container max-w-4xl flex justify-between items-center border-double border-stone-800 border-t-4 border-b-4 mx-auto px-4 py-2 dark:border-stone-200 dark:text-stone-200">
        <div class="flex items-center gap-2">
            <a href="{{ full_url_for('posts') }}" class="hover:underline">Posts</a>
            <div class="bold text-xl">&bull;</div>
            <a href="/tags" class="hover:underline">Tags</a>
            <div class="bold text-xl">&bull;</div>
            <a href="/authors" class="hover:underline">Authors</a>

            {% if pages %}
                <div class="bold text-xl">&bull;</div>

                {% for slug, title in pages() %}
                    <a href="{{ url_for('page', { slug: slug }) }}" class="hover:underline">{{ title }}</a>

                    {% if not loop.last %}
                        <div class="bold text-xl">&bull;</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        <div class="flex justify-end items-center gap-2">
            <a href="{{ url_for('feed') }}" class="flex justify-center items-center rounded p-1 hover:bg-stone-200 dark:text-stone-200 dark:hover:bg-stone-700">
                {{ include('icons/light/rss.svg', { class: 'size-6' }) }}
            </a>

            <div @click="toggleTheme()" class="flex justify-center items-center rounded cursor-pointer p-1 hover:bg-stone-200 dark:text-stone-200 dark:hover:bg-stone-700">
                {{ include('icons/light/lightbulb.svg', { class: 'size-6' }) }}
            </div>
        </div>
    </div>
</div>
