{% extends "layouts/app.twig" %}

{% block content %}
    <div id="posts" class="grow my-12">
        {% for slug, post in posts %}
            <div id="post" class="space-y-8">
                <h2 class="text-2xl font-light text-center md:text-4xl">
                    <a href="post/{{ slug }}">{{ post.title }}</a>
                </h2>

                {% include "components/metadata.twig" %}

                {% if post.image %}
                    <img class="h-40 w-full object-cover" src="{{ post.image.url }}" />
                {% endif %}

                <article class="prose prose-lg max-w-none md:prose-xl">{{ post.excerpt | raw }}</article>

                <a href="post/{{ slug }}" class="inline-block text-stone-600 underline">
                    Read More
                </a>
            </div>

            {% if loop.last == false  %}
                <hr class="border-t-4 border-stone-200 w-64 mx-auto my-12">
            {% endif %}
        {% endfor %}
    </div>

    {% if pagination %}
        {% include "components/pagination.twig" %}
    {% endif %}
{% endblock %}
