<!DOCTYPE html>
<html lang="{{ config('language') }}" class="light" x-data="application" x-effect="storeThemeCookie($store.theme)" :class="{ 'dark': $store.theme === 'dark' }" x-cloak>

<meta charset="utf-8">
<meta name="description" content="{{ config('meta_description') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="/images/favicon.svg">

{{ vite(['resources/css/app.css', 'resources/js/app.js']) }}

{{ customizations() }}

<title>{% if title %}{{ title }} &bull; {% endif %}{{ config('site_title') }}</title>

<div class="flex flex-col min-h-screen">
    {% include 'components/header.twig' %}

    <div id="content" class="container flex flex-col grow max-w-4xl mx-auto px-4">
        {% block content %}{% endblock %}
    </div>

    {% include 'components/footer.twig' %}
</div>

{% if config('usage_reporting') %}
    <img src="https://analytics.phlak.net/p/Kl9uSZCrY">
{% endif %}
